alabaster==0.7.12
appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
Babel==2.8.0
brew==0.1.4
Brotli==1.0.7
certifi==2020.4.5.1
chardet==3.0.4
chart-studio==1.1.0
click==7.1.1
cycler==0.10.0
dash==1.11.0
dash-core-components==1.9.1
dash-html-components==1.0.3
dash-renderer==1.4.0
dash-table==4.6.2
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.5
django-heroku==0.3.1
docutils==0.16
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.5.0
Flask-SQLAlchemy==2.4.1
future==0.18.2
gunicorn==20.0.4
idna==2.9
imagesize==1.2.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
npm==0.1.1
numpy==1.18.3
optional-django==0.1.0
packaging==20.3
pandas==1.0.3
pexels-api==1.0.1
pipenv==2018.11.26
plotly==4.6.0
pockets==0.9.1
psycopg2==2.8.5
pygal==2.4.0
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.7
pypexels==1.0.0b4
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
retrying==1.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
snowballstemmer==2.0.0
Sphinx==3.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spotipy==2.12.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
tabulate==0.8.6
urllib3==1.25.9
virtualenv==20.0.18
virtualenv-clone==0.5.4
Werkzeug==1.0.1
whitenoise==5.0.1
wrapt==1.11.2
spotipy