</header>
<video autoplay muted loop id="myVideo">
  <source src="Pexels Videos 4604.mp4" type="video/mp4">
</video>

<div class="content">
  <h1>Heading</h1>
  <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
  <button id="myBtn" onclick="myFunction()">Pause</button>
</div>




input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
  
    * {
      box-sizing: border-box;
    }
    
    
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
    }
    
    .content {
      position: fixed;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
    }
    
    #myBtn {
      width: 200px;
      font-size: 18px;
      padding: 10px;
      border: none;
      background: #000;
      color: #fff;
      cursor: pointer;
    }
    
    #myBtn:hover {
      background: #ddd;
      color: black;
    }



    <p>Name: <span style = "color: royalblue">{{name}}</span>.</p>
    <p>Artist: <span style = "color: royalblue"> {{artist}}</span>.</p>
    <p>Album: <span style = "color: royalblue">{{albumn}}</span>.</p>
    <p>Released Date: <span style = "color: royalblue">{{release_date}}</span>.</p>
    </table>



    
    
    <div class="text">
      <h1>Results</h1>
      <table>
      <tr>
        <td>Name</td>
        <td>{{name}}</td>
      </tr>
      <tr>
        <td>Artist</td>
        <td>{{artist}}</td>
      </tr>
      <tr>
        <td>Album</td>
        <td>{{albumn}}</td>
      </tr>
      <tr>
        <td>Released Date</td>
        <td>{{release_date}}</td>
      </tr>


      <h2>Song Features:</h2>
    <img src="data:image/png;base64,{{ plot }}" alt="feature plot" class="center">
  <h2>Recommendations:</h2>
  {% for song in recommendations %}
        <li style = "color: rgb(90, 45, 60)">{{ song }}</li>
  <h2>Emotions Pictures Based on Song Features:</h2>
    <img src="{{ pic }}" alt="emotion pic" class="center">